body {
  height: 100vh;
  width: 100vw;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: black;
  color: #00FF41;
}

.new-item, list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px;
  border-color: white;
}

.new-item {
  border: 5px solid black;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
  border-color:  #00FF41;
  padding: 20px;
  border-radius: 5px;
}

.add {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

button {
  padding: 5px 30px;
  border-radius: 5px;
}

.list-items-containers {
  border-color: #00FF41;
}